<div class="col-12 pl-0 pr-0 mt-4 mb-4">
  <div class="card">
    <div class="card-header bg-primary">
      <div class="row">
        <div class="col-6">
          <h3 class="card-title text-white">My Tasks</h3>
        </div>
        <div class="col-6">
          <div class="float-right btn-group">
            <button type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter"
                    class="btn btn-outline-light d-flex justify-content-center align-content-between" matRipple>
              <i class="fas fa-filter"></i>
            </button>
            <button type="button"
                    class="btn btn-outline-light d-flex justify-content-center align-content-between"
                    (click)="addTask()" matRipple>
              <i class="fas fa-calendar-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive mb-4 mat-paginator">
      <app-filter id="collapseFilter" [ngbCollapse]="isCollapsed"></app-filter>
      <div class="mat-elevation-z8">
        <div *ngIf="isLoadingResults" class="loading-shade">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <mat-paginator [length]="page?.totalElements"
                       [pageSizeOptions]="[20, 50, 100]"
                       showFirstLastButtons></mat-paginator>
        <table [dataSource]="dataSource"
               class="table table-hover" mat-table>

          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id</th>
            <td (click)="showTask(element)" *matCellDef="let element" mat-cell>{{element.id}}</td>
          </ng-container>

          <ng-container matColumnDef="completeBy">
            <th *matHeaderCellDef mat-header-cell>Due By</th>
            <td (click)="showTask(element)" *matCellDef="let element" mat-cell>{{element.completeBy | date}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th class="p-12" *matHeaderCellDef mat-header-cell>Status</th>
            <td  *matCellDef="let element" mat-cell>
              <button (click)="flipStatus(element)"
                      [class]="getButtonClass(element)"
                      class="btn btn-circle btn-circle-sm m-1">
                <i class="fa" [class]="getIconClass(element)"></i>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell>Title</th>
            <td (click)="showTask(element)" *matCellDef="let element" mat-cell matRipple>{{element.title}}</td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-close="close">
  <app-task [task]="task" (exit)="close()"></app-task>
</ng-template>
