table {
  width: 100%;
}

.bg-light {
  background-color: #ffda22 !important;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-header-cell, .mat-cell {
  text-align: center;
  padding: 12px !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  overflow-wrap: normal;
  word-break: keep-all;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-id {
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-status {
  flex: 0 0 10% !important;
  width: 10% !important;
  padding: 0 !important;
}

.mat-column-title {
  flex: 0 0 75% !important;
  width: 75% !important;
  text-align: left !important;
}

.mat-column-completeBy {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.p-12 {
  padding: 12px !important;
}
